<ul class="nav nav-list">
    <li class="nav-header">Question Bank</li>
    <li class="search"><input type="search" placeholder="Search" id="search" ng-model="query.text" class="search-query"/></li>
</ul>
<div id="question-template-list">
    <ul class="nav nav-list">
        <li class="question-template" draggable='{helper: "clone", revert: "invalid"}'
            ng-repeat="template in templates| filter:query | ownership:is_mine" data-template-id="{{template.id}}"
            ng-switch="getUserId() == template.owner">
            <p>{{template.text | truncate:180}}</p>
            <i title="This question is a shared template owned by others." ui-jq="tooltip" data-placement="right" data-delay="500" class="icon-lock template-lock" ng-switch-when="false"></i>
            <a ng-href="#/editTemplate/{{template.id}}" class="edit-link"  ng-switch-when="true">
                <i title="You are the owner of this question template and can change it." ui-jq="tooltip" data-placement="right"
                   data-delay="500" class="icon-pencil template-edit"></i>
            </a>
        </li>
    </ul>
</div>
<div id="template-filter">
    Show:&nbsp;
    <input id="mine" type="checkbox" ng-model="is_mine"/><label for="mine">Mine Only</label>
    <a href="#/newTemplate" class="btn pull-right">New</a>
</div>
