<ul class="nav nav-list">
    <li class="nav-header">Question Bank</li>
    <li class="search"><input type="search" placeholder="Search" id="search" ng-model="query.text" class="search-query"/></li>
</ul>
<div id="question-template-list">
    <ul class="nav nav-list">
        <li class="question-template" draggable='{helper: "clone", revert: "invalid"}'
            ng-repeat="template in templates| filter:query | ownership:is_mine" data-template-id="{{template.id}}">
			<!-- question template buttons bar -->
			<ul class="question-template-buttons">
				<!-- edit button or lock icon for questions -->
				<li ng-switch="getUserId() == template.owner">
					<a ng-switch-when="true" ng-href="#/editTemplate/{{template.id}}" title="You are the owner of this question template and can change it.">
						<i class="icon-pencil"></i>
					</a>
					<i ng-switch-when="false" title="This question is a shared template owned by others." ui-jq="tooltip" class="icon-lock"></i> 
				</li>
				<!-- add question to form button --> 
				<li>
					<a title="Add question to form." href ng-click="addToForm(template.id)">
						<i class="icon-share-alt"></i>
					</a>
				</li>
			</ul>
			<!-- question template text -->
			<p title="{{template.text}}">{{template.text | truncate:170}}</p>
        </li>
    </ul>
</div>
<div id="template-filter">
    Show:&nbsp;
    <input id="mine" type="checkbox" ng-model="is_mine"/><label for="mine">Mine Only</label>
	<a href="#/newTemplate" class="btn pull-right" title="Add Question"><i class="icon-plus"></i></a>
</div>
