/* Top Navbar */
.navbar-inner {
    padding: 0 20px;
}

.navbar-inner .brand {
    color: white;
}

.navbar-inner ul.nav li a {
    color: white;
}

.navbar-inner ul.nav li {
    border-top: 1px solid #333;
}

.navbar-inner ul.nav li:hover {
    background: #0088cc;
}

.navbar-inner .container-fluid {
    padding-right: 0;
}

/* Positioning for the sidebar (questions bank) and the main content area (form)
 * */
#panel {
    width: 24.1em;
    position: fixed;
    padding: 0.5em;
    padding-bottom: 20em;
    background: lightgoldenrodyellow;
}

#formcontent {
    margin-left: 25em;
    padding: 0;
}

/* Sidebar (questions bank) */
#search {
    height: 25px;
    width: 100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

#question-template-list {
    margin: 1em 0;
    margin-left: 0.1em;
    overflow: auto;
    height: 14.5em; /* show 2 questions */
}

/* responsive height for the sidebar, increment in # questions displayed */
@media all and (min-height: 30em) {
    #question-template-list {
        height: 21.5em; /* show 3 questions */
    }
}

@media all and (min-height: 36em) {
    #question-template-list {
        height: 28.5em; /* show 4 questions */
    }
}

@media all and (min-height: 42em) {
    #question-template-list {
        height: 35.5em; /* show 5 questions */
    }
}

@media all and (min-height: 48.5em) {
    #question-template-list {
        height: 42.5em; /* show 6 questions */
    }
}

@media all and (min-height: 54.5em) {
    #question-template-list {
        height: 49.5em; /* show 7 questions */
    }
}

/* this is max for my 1080p screen */
@media all and (min-height: 60em) {
    #question-template-list {
        height: 56em; /* show 8 questions */
    }
}

@media all and (min-height: 67em) {
    #question-template-list {
        height: 64em; /* show 9 questions */
    }
}

li.question-template {
    border-top: #aaa dashed thin;
    position: relative;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.question-template:first-child {
    border-top: none;
}


li.question-template p {
    padding: 0.3em;
    color: #333;
    margin: 0;
    overflow: hidden;
    height: 6em;
}

li.question-template p:hover {
    border-radius: 8px;
    background: #fffa69;
}

ul.question-template-buttons {
    position: absolute;
    top: 4px;
    left: -24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.question-template-buttons li {
    margin-bottom: 0.3em;
}

ul.question-template-buttons li i {
    display: inline;
    padding: 0.5em;
}

ul.question-template-buttons a:hover {
    color: red;
    text-decoration: none;
    background: transparent !important;
}

.new-question {
    border: #003399 solid thin;
    height: 3em;
    text-align: center;
    line-height: 3em;
    margin: 1em 0;
}

#template-filter {
    padding: 1em 0 0 0;
    border-top: rgb(121, 121, 121) 1px dashed;
}
#template-filter label {
    display: inline;
    margin: 0 1em 0 0;
}

#template-filter input[type="checkbox"] {
    margin: 0 0.5em 0 0;
}

.ui-draggable-dragging {
    border: #aaa dashed thin !important;
    background: #fffa69;
    border-radius: 8px;
    width: 21em; /* force width so it doesn't shrink when leaving parent elem */
}

.ui-draggable-dragging i {
    display: none !important;
}

.ui-sortable-helper {
    border: #aaa dashed thin;
}

/* Main content area */

ul#question-list {
    list-style: none;
    margin: 0;
    min-height: 10em;
}

ul#question-list li {
    padding: 1em 0 0.5em 0;
}

ul#question-list li:first-child {
}

.editable {
    overflow: hidden;
    padding-left: 0.6em;
    padding-right: 0.5em;
}

.editing, .ui-resizable-resizing {
    background: honeydew;
    border-radius: 8px;
}

.item-over {
    background-color: lightgreen;
}

.target-over {
    border: 1px solid lightgreen;
}

.response-radio, .response-checkbox, .response-input, .response-textarea {
    padding-left: 1em;
}

.form-selector .form-item {
    display: block;
    margin: 1em;
}

.form-selector .form-item > a {
    height: 100%;
    width: 100%;
    display: block;
}

.chardinjs-show-element
{
    color: #ddd;
}

/* default size for the response text boxes */

#form-paper div.response-input, #form-paper div.response-textarea {
    padding-left: 0;
}

#form-paper div.response-input, 
#form-paper div.response-textarea,
#form-paper div.response-radio,
#form-paper div.response-checkbox
{
    padding-top: 0.5em;
}

#form-paper div.response-input input[type="text"], 
#form-paper div.response-textarea textarea 
{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    border: 1px solid #aaa;
    display: block;
}

#form-paper div.response-input input[type="text"]
{
    height: 4em;
}

#form-paper div.response-textarea textarea {
    height: 12em;
}

h2.form-name {
    background: #f2f2f2;
    margin: 0;
    padding: 0.5em;
}

#form-paper {
    padding: 1em;
}

/* question controls */
#form-paper div.controls {
    display: none;
}

/* remove question button */
#form-paper button {
    position: absolute;
    padding: 0.5em;
    border: none;
    background: transparent;
    left: 1em;
    top: -0.5em;
}

#form-paper button .icon-remove {
    color: darkred;
}

#form-paper button:hover .icon-remove {
    color: red;
}

/* move handle */
.handle {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    color: green;
}

.response-checkbox, .response-radio {
    position: relative;
}

/* rotation handle */
.rotation-handle {
    position: absolute;
    top: 0;
    left: 3em;
    padding: 0.2em 0;
    color: #08c;
}

.rotation-handle:hover {
    text-decoration: none;
    color: red;
}

/* Footer */
footer {
    padding: 1em;
}
