/* Hide all the UI control elements that shouldn't be printed. */

#panel {
    display: none;
}

button {
    display: none;
}

.controls {
    display: none;
}

h2.form-name {
    display: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: none;
}

footer {
    display: none;
}

/* symfony debug toolbar */
.sf-toolbar img {
    display: none;
}

/* Adjust spacing */

/* undo margin required by static top navbar */
body {
    margin: 0;
    padding: 0;
}

#formcontent {
    margin: 0;
    padding: 0;
}

#form-paper {
    padding: 0;
    margin: 5%;
    width: auto;
}

/* hide header and footer on some browsers */
@page 
{
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body 
{
    background-color:#FFFFFF; 
    margin: 0px;  /* this affects the margin on the content before sending to printer */
}

textarea {
    max-width: 811pt;
}
