#search {
    height: 25px;
    width: 100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

#question-template-list {
    margin: 1em 0;
}

.question-template {
    border-top: #003399 dashed thin;
    position: relative;
}

.question-template .edit-link {
    padding: 0;
}

.question-template p{
    overflow: hidden;
    height: 6em;
}

.question-template:first-child {
    border-top: none;
}

.new-question {
    border: #003399 dashed thin;
    height: 3em;
    text-align: center;
    line-height: 3em;
    margin: 1em 0;
}

.ui-draggable-dragging {
    border: #006dcc dashed thin;
    background: #eee no-repeat;
}

ul#question-list {
    list-style: none;
    margin: 0;
    min-height: 10em;
}

ul#question-list li {
    padding: 1em 0 1em 0;
}

ul#question-list li:first-child {
}

.ui-sortable-helper {
    border: #006dcc dashed thin;
    background: #eee no-repeat;
}

#question-template-list {
    overflow: auto;
    height: 500px;
}

.hero-unit {
    max-height: 600px;
    overflow: auto;
}


#template-filter {
    padding: 1em 0 0 0;
    border-top: rgb(121, 121, 121) 1px dashed;
}
#template-filter label {
    display: inline;
    margin: 0 1em 0 0;
}

#template-filter input[type="checkbox"] {
    margin: 0 0.5em 0 0;
}

.editable {
    overflow: hidden;
}

.editing, .ui-resizable-resizing {
    outline: #003399 dashed thin;
}

.item-over {
    background-color: lightgreen;
}

.target-over {
    border: 1px solid lightgreen;
}

.response-radio, .response-checkbox, .response-input, .response-textarea {
    padding-left: 1em;
}

.template-lock, .template-edit {
    position: absolute;
    top: 4px;
    left: -18px;
}

.form-selector .form-item {
    display: block;
    margin: 1em;
}

.form-selector .form-item > a {
    height: 100%;
    width: 100%;
    display: block;
}

.handle {
    position: absolute;
    top: 4px;
    left: -20px;
    height: 100%;
    display: none;
}